@charset "UTF-8";
.br_on {
  display: none;
}

body, html {
  overflow-x: hidden;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

nav .logo {
  margin-left: 5%;
}

.disp_on_regularPC {
  display: none;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: white;
  border: none;
}

.owl-carousel .owl-stage {
  display: flex;
}
.owl-carousel .owl-item {
  display: flex;
  flex: 1 0 auto;
}

.jumbotron {
  height: 100vh;
  background: url("../img/tokio-premium-banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.jumbotron .logo {
  position: absolute;
  width: 10%;
  top: 5%;
  left: 1%;
}

section.to-outside-link {
  padding: 5vh 0;
  background: purple;
}

.strip-section {
  height: 100vh;
  background: url(../img/pattern-wallpaper.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.strip-section .model {
  width: 60%;
  margin: 0 auto;
}
.strip-section .model h3 {
  color: #7C6F64;
}
.strip-section h2 {
  margin: 10vh auto;
  color: #B6362D;
  font-size: 2.5em;
}

.tokio {
  background: url(../img/tokio-pr-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 40%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .strip-section .model {
    width: 85%;
  }

  .tokio {
    background: url(../img/tokio-pr-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30%;
  }
}
.section01 {
  background: antiquewhite;
  padding: 4vh 0;
}
.section01 .section01-title {
  width: 50%;
  margin: 0 auto;
}
.section01 .section01-title img {
  width: 60%;
}
.section01 .section01-title h2 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.section01 .section01-text {
  padding: 40px 20px;
}
.section01 .section01-text p {
  line-height: 2em;
  font-size: 1em;
  margin-top: 3vh;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.section01 .section01-text p strong.product {
  font-size: 1.25em;
  padding: 0 5px;
}
.section01 .section01-text p strong.characteristic {
  font-size: 1.25em;
  padding: 0 5px;
  color: #B51423;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.section02 {
  background: #d5c473;
  background: linear-gradient(196deg, rgba(213, 196, 115, 0.71892507) 0%, #fff6a3 100%);
  height: 100%;
  min-height: 830px;
}
.section02 h2 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.section02 .section02-text {
  padding: 20px;
}
.section02 .section02-text .child-text {
  margin: 2vh auto;
}
.section02 .section02-text .child-text .img-area .img {
  width: 50%;
  margin: 0 auto;
}
.section02 .section02-text h6 {
  padding-bottom: 1vh;
}
.section02 .section02-text h6 span {
  margin: 0 10px;
  color: white;
  text-shadow: 1px 1px 3px #B51423;
}
.section02 .section02-text p {
  padding: 10px 20px;
  line-height: 2em;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 1em;
}
.section02 .section02-text h6 {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.section02 .img-gallery {
  position: relative;
}
.section02 .img-gallery p.bottom-right {
  position: absolute;
  bottom: -10px;
  right: 5px;
  background: white;
  padding: 3px 5px;
  font-size: 0.7em;
  font-family: "メイリオ";
}

.section03 {
  background: linear-gradient(135deg, #fff6a3 0%, #fffbd9 100%);
}
.section03 .section03-text .items-text {
  margin: 20px auto;
  font-family: "Noto Sans JP", sans-serif;
}
.section03 .section03-text .items-text h2 {
  font-size: 1.25em;
  padding-left: 10px;
  border-left: 5px solid #000;
  border-bottom: 1px solid #000;
}
.section03 .section03-text .items-text p {
  padding: 0 10px;
}
.section03 .section03-text h5 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: normal;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.section03 .section03-text h5 strong {
  font-size: 1em;
  padding: 0 2px;
  text-shadow: 1px 1px 1px #fff;
}
.section03 .section03-text h5 strong.light {
  color: #bb87e0;
}
.section03 .section03-text h5 strong.lighter {
  color: #8dc0df;
}

.section04 {
  background: #fffbd9;
  background: linear-gradient(180deg, #fffbd9 0%, #fff 100%);
}
.section04 h2 {
  font-size: 1.5em;
}
.section04 h3 {
  font-size: 1.25em;
  margin-bottom: 5vh;
}
.section04 .img-gallery {
  position: relative;
}
.section04 .img-gallery p.bottom-right {
  position: absolute;
  bottom: -10px;
  right: 5px;
  background: white;
  padding: 3px 5px;
  font-size: 0.7em;
  font-family: "メイリオ";
}

.card {
  position: relative;
  text-align: center;
}
.card .card-body .card-title {
  font-size: 1.25em;
}
.card .card-body h4 {
  font-size: 1em;
  font-weight: normal;
}
.card .card-body h4 span {
  font-size: 1.5em;
}
.card .card-body h3 {
  font-size: 1.25em;
  font-weight: normal;
}
.card .card-body h3 span {
  font-size: 1.5em;
  color: red;
}
.card .subscription {
  position: absolute;
  top: 2%;
  left: 3%;
  background: red;
  padding: 0 5px;
  font-size: 1.5em;
  color: #fff;
}

footer {
  border-top: 1px solid #e5e4e2;
}
footer .footer-contents {
  text-align: center;
  font-size: 0.9em;
}
footer .footer-contents p {
  color: #71797E !important;
}
footer .footer-contents p a {
  padding: 0 10px;
  color: #71797E !important;
  text-decoration: none;
}
footer .footer-contents p a:hover {
  padding-bottom: 3px;
  font-weight: bold;
  border-bottom: 1px solid #71797E !important;
}

@media (max-width: 1478px) {
  .section03 .section03-text .items-text h2 {
    font-size: 1.15em;
  }
}
@media (max-width: 1372px) {
  .section03 .section03-text .items-text h2 {
    font-size: 1.05em;
  }
}
@media (max-width: 1264px) {
  .section03 .section03-text .items-text h2 {
    font-size: 1em;
  }
}
@media (max-width: 1210px) {
  .strip-section .model {
    width: 100%;
  }
  .strip-section .model h3 {
    font-size: 1.5em;
  }

  .section03 .section03-text .items-text h2 {
    font-size: 0.9em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.9em;
  }
}
@media (max-width: 1200px) {
  .disp_on_regularPC {
    display: block;
  }

  .strip-section .model {
    width: 100%;
  }

  .section04 {
    background: #F5DADF;
  }
  .section04 h2 {
    font-size: 1.5em;
  }
  .section04 h3 {
    font-size: 1.25em;
    margin-bottom: 5vh;
  }

  .section03 .section03-text .items-text h2 {
    font-size: 0.9em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.9em;
  }
}
@media (max-width: 1104px) {
  .section03 .section03-text .items-text h2 {
    font-size: 0.85em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.85em;
  }
}
@media (max-width: 1050px) {
  .section03 .section03-text .items-text h2 {
    font-size: 0.8em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.8em;
  }
}
@media (max-width: 992px) {
  .jumbotron {
    height: 70vh;
  }
}
@media (max-width: 768px) {
  .strip-section .model {
    width: 100%;
  }
  .strip-section .model h3 {
    color: black;
  }

  .tokio {
    background: url(../img/tokio-pr-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30%;
  }

  .section03 .section03-text .items-text h2 {
    font-size: 0.75em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.8em;
  }
}
@media (max-width: 520px) {
  .jumbotron {
    height: 45vh;
  }
  .jumbotron .logo {
    width: 13%;
    left: 3%;
  }

  .br_on {
    display: block;
  }

  .strip-section {
    height: 58vh;
  }
  .strip-section .model h3 {
    font-size: 0.9em;
  }
  .strip-section h2 {
    font-size: 1.65em;
  }

  .section01 .section01-title {
    width: 100%;
  }
  .section01 .section01-title h2 {
    font-size: 1.4em;
  }
  .section01 .section01-text {
    padding: 20px 0;
  }
  .section01 .section01-text p {
    font-size: 0.9em;
    line-height: 2.5em;
    padding: 0 20px;
  }

  .section02 h2 {
    font-size: 1.4em;
  }
  .section02 .section02-text {
    padding: 20px 0;
  }
  .section02 .section02-text p {
    padding: 10px 0;
    font-size: 1em;
  }
  .section02 .section02-text .child-text .img-area {
    margin: 0px auto;
    padding-bottom: 40px;
  }
  .section02 .section02-text .child-text .img-area .img {
    width: 100%;
  }
  .section02 .section02-text h6 {
    font-size: 1.25em;
  }

  .section03 {
    padding: 40px 5px;
  }
  .section03 .section03-text .items-text h2 {
    font-size: 1em;
  }
  .section03 .section03-text .items-text p {
    font-size: 0.8em;
  }
  .section03 .section03-text h5 {
    font-size: 1em;
  }
}
@media (max-width: 428px) {
  .jumbotron {
    height: 44vh;
  }
}

/*# sourceMappingURL=style1.css.map */
